<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Agro Harvest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- CSS files -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/chatbot.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user-dropdown.css') }}">


	<script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>

	<!-- Google Fonts -->
	<link href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese"
		rel="stylesheet">

	<style>
		header {
			background-color: rgba(30, 30, 30, 1);
			margin-top: 0rem;
			display: block;
		}
	</style>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="background-color: #1C00ff00;">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('home') }}">
				<img src="{{ url_for('static', filename='images/logo.jpg') }}"
					style="width: 150px; height: 50px; border-radius:10px;" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item {% if request.endpoint == 'home' %}active{% endif %}">
						<a class="nav-link"
							href="{% if request.endpoint != 'home' %}{{ url_for('dashboard') }}{% else %}#{% endif %}">
							Home
							{% if request.endpoint == 'dashboard' %}
							<span class="sr-only">(current)</span>
							{% endif %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('crop_recommend') }}">Crop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('fertilizer_recommendation') }}">Fertilizer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('disease_prediction') }}">Disease</a>
					</li>

					{% if current_user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link" href="" id="userIcon" role="button">
							<img src="{{ url_for('static', filename='images/user.png') }}" alt="User Icon"
								class="user-icon-img" style="width: 32px; height: 32px;">
						</a>
						<div class="dropdown-menu dropdown-menu-right" id="userDropdownMenu">
							<div class="dropdown-item text-center">
								<strong>{{ current_user.username }}</strong>
								<div>
									<img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="User Image"
										class="img-thumbnail mt-2"
										style="width: 60px; height: 40px; border-radius: 8px;">
								</div>
							</div>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Logout</a>
						</div>
					</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>


	{% block body %} {% endblock %}

	<!-- Footer -->
	<footer class="text-center py-5">
		<div class="container py-md-3">
			<h2 class="logo2 text-center">
				<a href="{{ url_for('home') }}">
					AgriBot
				</a>
			</h2>
			<div class="contact-left-footer mt-4">
				<!-- <a href="community.html">Community</a> -->
			</div>
			<div class="w3l-copy text-center">
				<p class="text-da">An Agricultural Intelligence Project<br> </p>
			</div>
			<div class="homelogo">
				<p>Made with ❤️ by a team of final-year Computer Science Engineering students from KVG College of
					Engineering</p>
				<p>&copy; Copyright 2025 Team AgriBot</p>
			</div>
		</div>
	</footer>

	<!-- Move top icon -->
	<a href="#home" class="move-top text-center"></a>

	<!-- Floating Chatbot Button -->
	<div id="chatbot-toggle" onclick="toggleChatbot()">
		<img src="/static/images/chatbot.png" alt="Chatbot" style="width: 65px; height: 65px;">
	</div>

	<!-- Chatbot Interface -->
	<div id="chatbot-container" style="display: none;">
		<div class="chat-container">
			<div class="chat-box" id="chat">
				<div class="message bot">Hi there! I’m AgriBot.</div>
				<div class="message bot">I can recommend crops based on your local conditions.</div>
				<div class="message bot">Type <strong>'start'</strong> to begin the recommendation process.</div>
			</div>
			<form id="chat-form" class="input-box">
				<input type="text" id="userInput" placeholder="Type your message..." autocomplete="off" />
				<button type="submit">Send</button>
			</form>
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="/static/scripts/chatbot.js"></script>
	<script src="/static/scripts/user_dropdown.js"></script>

</body>

</html>